@use "sass:color";

// Переменные для удобства (опционально)
$primary-color: #e53935; // Красный акцент
$text-color: #e6e6e6;
$bg-dark: #18181a;
$bg-dark-2: #202024;

.categories {
  // Стиль для корневого элемента <ul>
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; // Убираем маркеры списка
  padding: 0;
  margin: 20px 0;
  gap: 10px; // Расстояние между элементами
  overflow-x: auto; // Позволяет прокручивать, если элементов много
  -ms-overflow-style: none; // Скрываем скроллбар для IE/Edge
  scrollbar-width: none; // Скрываем скроллбар для Firefox

  // Скрываем скроллбар для WebKit (Chrome, Safari)
  &::-webkit-scrollbar {
    display: none;
  }

  &__navigation {
    // Базовый стиль для каждого элемента <li>
    background-color: $bg-dark-2;
    padding: 10px 20px;
    border-radius: 30px; // Закругленные края, как у кнопки
    color: $text-color;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    white-space: nowrap; // Предотвращаем перенос текста
    border: 1px solid rgba(255, 255, 255, 0.06);

    // Стиль при наведении
    &:hover {
      background-color: color.adjust($bg-dark-2, $lightness: 4%);
    }

    // Стиль активного элемента
    &.active {
      background-color: $primary-color;
      color: #fff; // Белый текст на активном фоне

      // Отменяем эффект :hover, когда элемент активен
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
